body {
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	/* background-image: url('./imagens/bg.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover cover; */
}
.centralizado {
	z-index: 2;
	position: absolute;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}
.painel {
	z-index: 2;
	position: absolute;
	left: 0px;
	bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 240px;
	height: 80px;
	padding: 16px;
	border-radius: 0 24px 0 0;
	background-color: rgb(245, 245, 245, 0.5);
}
.background {
	z-index: 1;
	position: absolute;
	height: 100%;
	width: 100%;
}
.vitoria-gameover {
	z-index: 3;
	/* position: absolute;
	top: 5%; */
}
.vidas {
	float: left;
}
.cronometro {
	float: left;
	font-size: 24px;
	font-weight: bold;
}
.lado1 {
	transform: scaleX(1);
	/* Configuração padrão de qualquer imagem */
}
.lado1 {
	transform: scaleX(-1);
	/* Espelhamento ou Meio Giro no eixo X */
}
